{{- if eq ._type "text" -}}
    {{- .value | safeHTML -}}
{{- else if eq ._type "local-image" -}}
    ![{{ .alt }}]({{ .src }})
{{- else if eq ._type "callout" -}}
    {{- $content := .value | safeHTML -}}

    {{- $attrs := partial "cms/build-attrs.html" (dict 
        "emoji" .emoji
        "type" .type
        "icon" .icon
    ) -}}

    {{- printf `{{< callout %s>}}%s{{< /callout >}}` $attrs $content | safeHTML -}}
{{ else if eq ._type "cards" }}
    {{- $attrs := partial "cms/build-attrs.html" (dict 
        "cols" .cols
    ) -}}

    {{- $renderedContent := "" -}}

    {{- range .value -}}
      {{- $blockHtml := partial "cms/render-card.html" . -}}
      {{- $renderedContent = printf "%s\n%s" $renderedContent $blockHtml -}}
    {{- end -}}

    {{- printf `{{< cards %s>}}%s{{< /cards >}}` $attrs $renderedContent | safeHTML -}}
{{ else if eq ._type "card" }}    
    {{- partial "cms/render-card.html" . -}}
{{ else if eq ._type "steps" }}
    {{- printf `{{< steps >}}%s{{< /steps >}}` .value | safeHTML -}}
{{ else if eq ._type "details" }}
    {{- $attrs := partial "cms/build-attrs.html" (dict 
        "title" .title
        "closed" .closed
    ) -}}

    {{- printf `{{< details %s>}}%s{{< /details >}}` $attrs .value | safeHTML -}}
{{ end }}
